<h1 class="text-xl font-bold mb-4">パスワード変更</h1>

<%= form_with(model: @user, url: update_password_path, method: :patch, local: true) do |f| %>

  <div class="form-control mb-4">
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered text-xs", placeholder: "現在のパスワード（4文字以上）" %>
  </div>

  <div class="form-control mb-4">
    <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered text-xs", placeholder: "新しいパスワード(4文字以上)" %>
  </div>

  <div class="form-control mb-6">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered text-xs", placeholder: "新しいパスワード（再確認）" %>
  </div>

  <div class="flex space-x-4 justify-center">
  <%= link_to "マイページに戻る", mypage_path, class: "btn btn-secondary text-lg text-base-100" %>
  <%= f.submit "パスワードを変更", class: "btn btn-primary text-lg text-base-100" %>
</div>

<% end %>
