<h2 class="text-xl font-bold text-center mb-6">パスワードをお忘れですか？</h2>

<%= form_with(model: resource, as: resource_name, url: password_path(resource_name)) do |f| %>
  <div class="form-control mb-6">
    <%= f.label :email, "登録したメールアドレスを入力してください", class: "label text-sm" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full bg-gray-100 focus:bg-white", placeholder: "メールアドレス" %>
  </div>

  <div class="flex justify-center gap-4">
  <%= link_to "ログインに戻る", new_session_path(resource_name), class: "btn btn-secondary text-base-100 w-32" %>
  <%= f.submit "送信", class: "btn btn-primary text-base-100 w-32" %>
</div>

<% end %>
