<!-- app/views/posts/_post_card.html.erb -->
<%= link_to post_path(post), class: "block w-full max-w-lg mx-auto pt-3" do %>
  <div class="bg-white shadow-md rounded-lg p-4 flex space-x-4 items-start">
    <!-- 左側 画像表示エリア -->
    <div class="w-24 h-24 flex-shrink-0">
      <% if post.post_image.present? %>
        <%= image_tag post.post_image.url, alt: post.title, class: "w-full h-full object-cover rounded-md" %>
      <% else %>
        <% category_image_filename = category_image_filename(post.category.name) %>
        <% category_image_path = "category_defaults/#{category_image_filename}" %>
        <% if asset_exists?(category_image_path) %>
          <%= image_tag category_image_path, alt: post.category.name, class: "w-full h-full object-cover rounded-md" %>
        <% else %>
          <%= image_tag 'default_post_image.jpg', alt: "No Image", class: "w-full h-full object-cover rounded-md" %>
        <% end %>
      <% end %>
    </div>

    <!-- 右側 情報表示エリア -->
    <div class="flex-grow">
      <!-- タイトル -->
      <h2 class="text-base font-bold text-gray-700 mb-1"><%= post.title %></h2>

      <!-- 内容概要表示 -->
      <p class="text-sm text-gray-700 line-clamp-2"><%= truncate(post.content, length: 100) %></p>

      <!-- タグ表示（最大2つ＋残り数） -->
      <div class="flex flex-wrap space-x-2 mt-2">
        <% post.tags.each_with_index do |tag, index| %>
          <% if index < 2 %>
            <span class="bg-base-100 text-gray-700 text-xs px-2 py-1 rounded-full">#<%= tag.name %></span>
          <% elsif index == 2 %>
            <span class="bg-accent text-base-100 text-xs px-2 py-1 rounded-full">
              +<%= post.tags.size - 2 %>
            </span>
            <% break %>
          <% end %>
        <% end %>
      </div>

      <!-- ユーザー情報とアクションボタン -->
      <div class="flex items-center justify-between mt-2">
        <!-- ユーザー情報 -->
        <div class="flex items-center space-x-2">
          <% if post.user.profile_image.present? %>
            <%= image_tag(post.user.profile_image.url, alt: post.user.username, class: "w-6 h-6 rounded-full object-cover") %>
          <% else %>
            <%= image_tag("default_profile_image.png", alt: post.user.username, class: "w-6 h-6 rounded-full object-cover") %>
          <% end %>
          <span class="text-xs text-gray-700"><%= post.user.username %></span>
        </div>
        
        <!-- いいね・ブックマークボタン -->
        <div class="flex items-center space-x-1">
          <%= render 'likes/like_buttons', post: post %>
          <%= render 'bookmarks/bookmark_buttons', post: post %>
        </div>
      </div>
    </div>
  </div>
<% end %>