<div class="card bg-base-100 shadow-xl flex flex-row p-4">

  <div class="w-1/4 relative mr-4"> 
    <% if post.post_image.present? %>
      <%= image_tag(post.post_image.url, alt: post.title, class: "w-full h-full object-cover aspect-square") %>
    <% end %>

    <% if post.category.present? %>
      <div class="absolute top-0 left-0 bg-gray-800 text-white text-xs px-2 py-1 rounded-bl-lg">
        <%= post.category.name %>
      </div>
    <% end %>
  </div>

  <div class="w-3/4">
    <div class="flex flex-wrap space-x-2 mb-1">
      <% post.tags.each do |tag| %>
        <span class="bg-gray-200 text-gray-700 text-xs px-2 py-1 rounded-full">#<%= tag.name %></span>
      <% end %>
    </div>

    <h2 class="text-lg font-bold"><%= link_to post.title, "#" %></h2>

    <p class="text-sm text-gray-600 line-clamp-2 mt-1"><%= truncate(post.content, length: 100) %></p>

    <div class="flex items-center justify-between mt-2">

      <div class="flex items-center">
        <%= image_tag(post.user.profile_image.url, alt: post.user.username, class: "w-8 h-8 rounded-full mr-2") if post.user.profile_image.present? %>
        <span class="text-sm text-gray-700"><%= post.user.username %></span>
      </div>

      <button class="p-1">
        <%= image_tag 'bookmark.svg', alt: "Bookmark", class: "h-5 w-5" %>
      </button>
    </div>
  </div>
</div>
