<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <title>RunBreeze</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- OGPメタタグの追加 -->
    <meta property="og:title" content="RunBreeze" />
    <meta property="og:description" content="RunBreezeでランニング情報を共有しよう！" />
    <meta property="og:image" content="<%= asset_url('RunBreeze.png') %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="RunBreeze" />

    <!-- Twitter Cardメタタグの追加 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="RunBreeze" />
    <meta name="twitter:description" content="RunBreezeでランニング情報を共有しよう！" />
    <meta name="twitter:image" content="<%= asset_url('RunBreeze.png') %>" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>

    <%# Googleアナリティクス導入 %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/after_header_login' %>
    <% else %>
      <%= render 'shared/before_header_login' %>
    <% end %>
    <%= render 'shared/flash_messages' %>

    <main class="flex-grow mb-32">
      <%= yield %>
      <%= render "shared/footer" %>
    </main>
  </body>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>
</html>
